# **ASSIGNMENT - 1**
SmartBridge AI ML (Evening Batch)

AHILL SAVIO ARUL AMUTHAN 21BCE7746

# **Task - 1**
Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
# Import the necessary modules
import pandas as pd
import numpy as np

In [ ]:
np.random.seed(42)
observation_num = 4
features_num = 4
random_values = np.random.rand(observation_num, features_num)
df = pd.DataFrame(random_values, columns=['Feature1', 'Feature2', 'Feature3', 'Feature4'])
print(df)

   Feature1  Feature2  Feature3  Feature4
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.212339  0.181825  0.183405

## **Task - 2**
Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
column_names_new = {
    'Feature1' : 'Random Value 1',
    'Feature2' : 'Random Value 2',
    'Feature3' : 'Random Value 3',
    'Feature4' : 'Random Value 4',
}

df = df.rename(columns=column_names_new)
print(df)

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0        0.374540        0.950714        0.731994        0.598658
1        0.156019        0.155995        0.058084        0.866176
2        0.601115        0.708073        0.020584        0.969910
3        0.832443        0.212339        0.181825        0.183405

# **Task - 3**
Find the descriptive statistics of the 'df' dataframe.

In [ ]:
descriptive_statistics = df.describe()
print(descriptive_statistics)

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.491029        0.506780        0.248122        0.654537
std          0.291252        0.386153        0.329856        0.350875
min          0.156019        0.155995        0.020584        0.183405
25%          0.319910        0.198253        0.048709        0.494845
50%          0.487828        0.460206        0.119954        0.732417
75%          0.658947        0.768733        0.319367        0.892110
max          0.832443        0.950714        0.731994        0.969910

# **Task - 4**
Check for the null values in 'df' and find the data type of the columns.

In [ ]:
# Checks if null values are present
null_values = df.isnull().sum()

# Data types of columns
data_types = df.dtypes
print("Null Values: ")
print(null_values)
print("\n Data types: ")
print(data_types)

Null Values:
Random Value 1    0
Random Value 2    0
Random Value 3    0
Random Value 4    0
dtype: int64

 Data types:
Random Value 1    float64
Random Value 2    float64
Random Value 3    float64
Random Value 4    float64
dtype: object

# **Task - 5**
Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:
rv_2_loc = df.loc[:, 'Random Value 2']
rv_3_loc = df.loc[:, 'Random Value 3']
print("Using location method: ")
print(rv_2_loc)
print(rv_3_loc)

Using location method:
0    0.950714
1    0.155995
2    0.708073
3    0.212339
Name: Random Value 2, dtype: float64
0    0.731994
1    0.058084
2    0.020584
3    0.181825
Name: Random Value 3, dtype: float64